/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page natshashdeclsguide Hashdecl Reference

    @tableofcontents

    The following hashdecls are defined in the \c Qore::Nats namespace:

    |!Hashdecl|!Description
    |@ref Qore::Nats::NatsConnectionOptions "NatsConnectionOptions"|Connection options
    |@ref Qore::Nats::NatsTlsOptions "NatsTlsOptions"|TLS configuration options
    |@ref Qore::Nats::NatsMsgInfo "NatsMsgInfo"|Received message information
    |@ref Qore::Nats::NatsStreamConfig "NatsStreamConfig"|JetStream stream configuration
    |@ref Qore::Nats::NatsStreamInfo "NatsStreamInfo"|JetStream stream information
    |@ref Qore::Nats::NatsConsumerConfig "NatsConsumerConfig"|JetStream consumer configuration
    |@ref Qore::Nats::NatsConsumerInfo "NatsConsumerInfo"|JetStream consumer information
    |@ref Qore::Nats::NatsPubAck "NatsPubAck"|JetStream publish acknowledgment
    |@ref Qore::Nats::NatsKVConfig "NatsKVConfig"|Key-Value bucket configuration
    |@ref Qore::Nats::NatsKVEntry "NatsKVEntry"|Key-Value entry
*/
