/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page natsreqsguide Requirements

    @tableofcontents

    - <b>Qore 2.0+</b>
    - <b>nats.c library</b> (libnats)
      - Ubuntu/Debian: build from source or use a PPA
      - Fedora/RHEL: build from source
      - Alpine: build from source
*/
